.cache/
.idea/
build/**
.DS_Store
*.tar.zst
zarf-sbom/**
tmp/
cacert.b64
ca.pem
ca.cer
test.cer
test.csr
test.pem
uds-core
uds-core/**
./src/authorized_certs.zip
./tls_cacert.yaml
./test.pfx
src/extra-jars/
src/test/cypress/node_modules/**
src/plugin/target/**
uds-docs/
uds-docs/**
