/**
 * Copyright 2025 Defense Unicorns
 * SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial
 */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(./inter.ttf) format('truetype');
}
