/**
 * Copyright 2024 Defense Unicorns
 * SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial
 */

.alert.alert-error {
    border-radius: 7px;
    border-left: 2px solid #F05252;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: #1f2a37;
    color: #D1D5DB;
    display: flex;
    align-items: center;
}

.alert.alert-info {
    border-radius: 7px;
    border-left: 2px solid #1C64F2;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: #1f2a37;
    color: #D1D5DB;
    display: flex;
    align-items: center;
}

.alert.alert-warning {
    border-radius: 7px;
    border-left: 2px solid #FACA15;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: #1f2a37;
    color: #D1D5DB;
    display: flex;
    align-items: center;
}

.col-alert-icon {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.instruction {
    font-weight: 100 !important;
    line-height: unset !important;
    text-shadow: none !important;
}

.navbar {
    background: #002743 !important;
    border: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.95),
    0 10px 10px rgba(0, 0, 0, 0.92);
}

.navbar .nav-item > a {
    color: #fff !important;
}

.navbar .nav-item.active > a {
    color: #bdc931 !important;
    border-bottom: 1px solid;
}

.navbar .upper-logo img {
    max-height: 75px;
    margin-right: 15px;
}

.note-important {
    color: #ff2400;
    font-size: 1.15rem;
    font-style: italic;
    font-weight: 600;
}

.error-messages,
.has-error .form-control {
    background-color: #1F2A37 !important;
    color: #fff !important;
    border-color: #F05252;
}

.has-error .message-details {
    font-style: italic;
    margin-top: 0.5rem;
    color: #dadada;
}

.table > thead {
    background: rgba(255, 255, 255, 0.1);
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.word-line {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: -20px;
    text-align: center;
    width: 100%;
}

.word-line:after,
.word-line:before {
    content: "\00a0\00a0\00a0\00a0\00a0";
    padding: 0 1rem;
    text-decoration: line-through;
}

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
    margin-bottom: 10px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px 0;
}

#kc-totp-secret-qr-code {
    max-height: 150px;
    max-width: 150px;
}

.btn-primary {
    background-color: #374151 !important;
    border-radius: 4px !important;
}

.btn-primary:hover {
    background-color: #1A56DB !important;
}

.location-input {
    left: -500vw;
    position: absolute;
}

.required {
    color: #cb2915;
}

.subtitle {
    color: #909090;
    margin-top: 30px;
    text-align: right;
}

.card #certificate_subjectdn,
.card a {
    color: #76A9FA !important;
    font-weight: 400;
    font-size: 12px;
}

.app-logo {
    width: 40%;
}

.footer-text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.form-group {
    margin-top: 1rem;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10vh auto 50px;
    max-width: 500px;
}

.row-group {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.title {
    box-sizing: border-box;
    color: #ededed;
    font-size: 30px;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    margin-left: 2rem;
    text-align: left;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
    text-transform: none;
    white-space: normal;
}

.form-control {
    background-color: #1f2a37;
    border: 1px solid #374151;
    color: #ffffff
}

.form-control:focus {
    background-color: #1f2a37;
    border: 1px solid #374151;
    color: #ffffff
}

.card {
    background: none;
    border: 0;
    margin: 30px auto;
}

.card .card-header {
    min-height: 250px;
    align-content: flex-end;
}

.card .card-body {
    background: #111827;
    border-radius: 8px;
}

.card.card-wide {
    max-width: 650px;
    margin-top: 100px;
}

.card .table {
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

body {
    background: #010d17 url(../img/background.png) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow-x: hidden;
    font-family: Inter;
}

body > .container-fluid {
    padding-bottom: 65px;
}

p {
    margin-top: 1rem;
    margin-top: 1rem;
}

.fixed-footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: 1%;
    z-index: -1;
}

.branding.card-header img {
    max-width: 100%;
}

#logout-all-sessions {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    float: right;
}

body.password .subtitle {
    display: none;
}

.card hr {
    border-top: 1px solid #374151;
}

/* Social */
.pf-c-button .pf-m-control {
    border-color: rgba(230, 230, 230, 0.5);
}

.kc-social-links {
    margin-top: 20px;
}

.social-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.kc-social-links li {
    width: 100%;
}

.kc-social-provider-logo {
    font-size: 23px;
    width: 30px;
    height: 25px;
    float: left;
}

.kc-social-gray {
    color: rgb(255, 255, 255);
}

.kc-social-gray h2 {
    font-size: 1em;
}

.kc-social-item {
    font-size: 15px;
    text-align: center;
}

.kc-social-provider-name {
    position: relative;
}

.kc-social-icon-text {
    left: -15px;
}

.kc-social-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-column-end: span 6;
}

.kc-social-grid .kc-social-icon-text {
    left: -10px;
}

.kc-social-section {
    text-align: center;
}

.kc-social-section hr {
    margin-bottom: 16px;
    margin-top: 16px;
}

#authenticateWebAuthnButton {
    display: block;
}

#registerWebAuthn {
    display: block;
}
