# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Metadata

on:
  pull_request:
    branches: [main]
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    # labeled is added here to allow for "manual" triggering of CI on renovate PRs
    types: [milestoned, opened, reopened, synchronize, labeled]

jobs:
  title_check:
    runs-on: ubuntu-latest
    name: Validate PR Title
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Check renovate readiness
        if: startsWith(github.event.pull_request.head.ref, 'renovate/') # Only call for Renovate PRs
        uses: ./.github/actions/renovate-readiness

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0

      - name: Install commitlint
        run: |
          npm install --save-dev @commitlint/config-conventional@19.8.0
          npm install --save-dev @commitlint/cli@19.8.0

      - name: Lint PR title
        env:
          pull_request_title: ${{ github.event.pull_request.title }}
        run: echo "$pull_request_title" | npx commitlint

  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: lint-check
        uses: ./.github/actions/lint
