# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Test

on:
  pull_request:
    branches: [main]
    # labeled is added here to allow for "manual" triggering of CI on renovate PRs
    types: [milestoned, opened, reopened, synchronize, labeled]
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - docs/**
      - .vscode/**
      - .gitignore
      - renovate.json
      - .release-please-config.json
      - .codespellrc
      - release-please-config.json
      - CODEOWNERS
      - LICENSE

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker_build:
    runs-on: ubuntu-latest
    name: Test Docker Build
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Test building the docker image
        run: uds run dev-build --no-progress

  zarf_build:
    runs-on: ubuntu-latest
    name: Test Zarf Build
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Test building a zarf package
        run: uds run build-zarf-pkg --no-progress

  plugin_unit_tests:
    runs-on: ubuntu-latest
    name: Keycloak Plugin Unit Tests
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Plugin Unit Tests
        run: mvn -B package --file src/plugin/pom.xml

  uds_core_base_integration:
    runs-on: ubuntu-latest
    name: UDS Core + Identity Config smoke test with base realm.json
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Free disk space
        continue-on-error: true
        shell: bash
        run: |
          sudo rm -rf /usr/local/lib/android /opt/ghc /usr/share/dotnet /opt/hostedtoolcache/CodeQL || true

      - name: Smoke Tests
        run: uds run uds-core-smoke-test --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -uds_core_base_integration

  uds_core_cypress_integration:
    runs-on: ubuntu-latest
    name: UDS Core + Identity Config cypress integration tests
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Free disk space
        continue-on-error: true
        shell: bash
        run: |
          sudo rm -rf /usr/local/lib/android /opt/ghc /usr/share/dotnet /opt/hostedtoolcache/CodeQL || true

      - name: Setup Tofu
        uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1.0.6
        with:
          # renovate: datasource=github-releases depName=opentofu/opentofu
          tofu_version: 1.11.0
          tofu_wrapper: false

      - name: Cypress Integration Tests
        run: uds run uds-core-integration-tests --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -uds_core_cypress_integration
