name: Test

on:
  pull_request:
    branches: [main]
    types: [milestoned, opened, reopened, synchronize]

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  title_check:
    runs-on: ubuntu-latest
    name: Test Docker Build
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Environment setup
        uses: defenseunicorns/uds-common/.github/actions/setup@fc12e3a773580020a1d63e254525eab0f8b99fc8

      - name: Test building the docker image
        run: uds run dev-build

      - name: Test building a zarf package
        run: uds run build-zarf-pkg
