# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Test

on:
  pull_request:
    branches: [main]
    # labeled is added here to allow for "manual" triggering of CI on renovate PRs
    types: [milestoned, opened, reopened, synchronize, labeled]

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker_build:
    runs-on: ubuntu-latest
    name: Test Docker Build
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check renovate readiness
        if: startsWith(github.event.pull_request.head.ref, 'renovate/') # Only call for Renovate PRs
        uses: ./.github/actions/renovate-readiness

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Test building the docker image
        run: uds run dev-build --no-progress

  zarf_build:
    runs-on: ubuntu-latest
    name: Test Zarf Build
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Test building a zarf package
        run: uds run build-zarf-pkg --no-progress

  plugin_unit_tests:
    runs-on: ubuntu-latest
    name: Keycloak Plugin Unit Tests
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Set up JDK 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Plugin Unit Tests
        run: mvn -B package --file src/plugin/pom.xml

  uds_core_base_integration:
    runs-on: ubuntu-latest
    name: UDS Core + Identity Config smoke test with base realm.json
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Smoke Tests
        run: uds run uds-core-smoke-test --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -uds_core_base_integration

  uds_core_cypress_integration:
    runs-on: ubuntu-latest
    name: UDS Core + Identity Config cypress integration tests
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Cypress Integration Tests
        run: uds run uds-core-integration-tests --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -uds_core_cypress_integration

  uds_core_cypress_integration_dynamic_client_registration:
    runs-on: ubuntu-latest
    name: UDS Core + Identity Config cypress integration tests with Dynamic Client Registration
    permissions:
      pull-requests: read
      contents: read

    steps:
      - name: Github Actions Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Environment setup
        uses: ./.github/actions/setup
        with:
          registry1Username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
          registry1Password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}
          chainguardIdentity: ${{ secrets.CHAINGUARD_IDENTITY }}

      - name: Cypress Integration Tests
        run: uds run uds-core-integration-tests --set=PEPR_KEYCLOAK_CLIENT_STRATEGY=dynamic_client_registration --no-progress

      - name: Debug Output
        if: ${{ always() }}
        uses: ./.github/actions/debug-output

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: -uds_core_cypress_integration_dynamic_client_registration